<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Lambadega Cometa</display-name>
    <description>Sistema de Gerenciamento de Fretes</description>

    <servlet>
        <servlet-name>LoginControlador</servlet-name>
        <servlet-class>br.com.gw.usuario.LoginControladorServletImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>br.com.gw.usuario.UsuarioControladorServletImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginControlador</servlet-name>
        <url-pattern>/LoginControlador</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>br.com.gw.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AutenticacaoFiltro</filter-name>
        <filter-class>br.com.gw.filter.AutenticacaoFiltroImpl</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutenticacaoFiltro</filter-name>
        <url-pattern>/cliente/*</url-pattern>
        <url-pattern>/motorista/*</url-pattern>
        <url-pattern>/veiculo/*</url-pattern>
        <url-pattern>/frete/*</url-pattern>
        <url-pattern>/FreteControlador</url-pattern>
        <url-pattern>/ClienteControlador</url-pattern>
        <url-pattern>/MotoristaControlador</url-pattern>
        <url-pattern>/VeiculoControlador</url-pattern>
        <url-pattern>/MonitorFretesControlador</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <secure>false</secure>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro.jsp</location>
    </error-page>

</web-app>
